.entry {
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dotted black;
    margin-bottom: 20px;
    transition: all 0.4s ease-in;
}

.entry-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entry:hover {
    background-color:  #f4fdff ;
}

.close-button {
    min-width: 20px
}

.close-button:hover {
    background-color: lightgrey;
    cursor: pointer;
}